<div class="contents row">
<%= render partial: "tweets/tweet", locals: {tweet: @tweet} %>

  <div class="container">
    <% if current_user %>    
      <%= form_for @comment, url: tweet_comments_path(@tweet.id), method: :post, remote: true do |f| %>
        <%= f.text_area :text, placeholder: "コメントする", class: "forms_textarea" %>
        <%= f.submit "コメントする", class: "send_button" %>
      <% end %>
    <% end %>


    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <%= render partial: "comments/comment", collection: @comments %>
    </div>
  </div>
      
</div>
