<div class = "lineup">
  <div class="contents_row">
    <%= render partial: "tweets/tweet", locals: {tweet: @tweet} %>

    <div class="container" style = "margin-left: 25%;">
    <% if current_user %>    
      <%= form_for @comment, url: tweet_comments_path(@tweet.id), method: :post, remote: true do |f| %>
        <%= f.text_area :text, placeholder: "自由にコメントを書いてね！", class: "form-control" %><br>
        <%= f.submit "コメントする", class: "btn btn-primary btn" %>
      <% end %>
    <% end %>


    <div class="comments" style="margin-top:20px;">
      <%= render partial: "comments/comment", collection: @comments %>
    </div>
    </div>
      
  </div>
</div>
