<span class="like" id="tweet-<%= tweet.id %>">
<% if tweet.iine?(current_user) %>
  <%= form_for(tweet.likes.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
    <%= button_tag(class: "btn btn-default btn-xs") do %>
      <%= content_tag :span, "いいね #{tweet.likes_count}" %>
        <%= fa_icon 'thumbs-up 1.5x', class:"iine1", style: "color: red;" %>
    <% end %>
  <% end %>
<% else %>
  <%= form_for(tweet.likes.build, remote: true) do |f| %>
    <div><%= hidden_field_tag :tweet_id, tweet.id %></div>
    <%= button_tag(class: "btn btn-default btn-xs") do %>
      <%= content_tag :span, "いいね #{tweet.likes_count}" %>
        <%= fa_icon 'thumbs-up 1.5x', class: "iine2", style: "color: pink;" %>
    <% end %>
  <% end %>
<% end %>
</span>