<!DOCTYPE html>
<html>
  <head>
    <title>Broomer</title>
    <meta charset = "utf-8">
    <meta name = "viewport" content="width=devise-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    
    
  </head>

  <body>
    <div class = wf-nicomoji>
    <div class = "top">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #000000;">
        <%= link_to "BROOMER", "/tweets", method: 'get', class: "navbar-brand mx-auto" %>
        <%# <a class="navbar-brand" href="/tweets">BROOMER</a> %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav ml-auto">
              <li>
                <%= link_to "ランキング", ranking_index_path, method: 'get', class: "nav-link" %>
              </li>

            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "My Page", "/users/#{current_user.id}", method: 'get', class: "nav-link"%>
              </li>
              <li class="nav-item">
                <div class="notification" style="position: relative;">
                  <%= link_to "通知", notifications_path, method: 'get', class: "nav-link" %>
                  <% if unchecked_notifications.any? %>
                    <i class="fa fa-circle small" style="position: absolute; top: 0; right: 0;"></i>
                  <% end %>
                </div>
              </li>
              <li>
                <%= link_to "投稿", new_tweet_path, method: 'get', class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: "delete", class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, method: 'get', class: "nav-link" %>
              </li>
              <li>
                <%= link_to "新規登録", new_user_registration_path, method: 'get', class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
      
    </div>
    <div class="wrapper">
      
      <%= yield %>
    </div>

   </body>
</html>
